*{
    box-sizing: border-box;
    
}
.container{
    height: 100%;
  
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
   
}
body{
    min-height: 100vh;
    background-image: linear-gradient(to right top, #854279, #833482, #7c258e, #6f179c, #590eac);
    color: white;
 
}
input[type="number"]{
    text-align: center;
  
    
}
.pallet{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: gray;
    margin-bottom: 5px;
    

}
a{
    color: white;
    font-size: 20px;
    margin: 15px;
    text-decoration: none;
    border: 3px solid white;
    padding: 15px;
    border-radius: 20px;
}

