*{
    box-sizing: border-box;
    margin:0;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}
body{
    background-color: rgb(163, 87, 87);
    color: white;
}
input[type="number"]{
    text-align: center;
  
    
}
.pallet{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;;

}
.howmuch{
    margin-top: 150px;
}

